<button
  type="button"
  class="w-11 h-10 sm:w-12 sm:h-11 rounded-lg border text-xs sm:text-sm font-bold transition flex items-center justify-center cursor-pointer active:scale-95"
  [class.bg-blue-600]="selected"
  [class.text-white]="selected"
  [class.border-blue-600]="selected"
  [class.shadow-xs]="selected"
  [class.bg-white]="isAvailable && !selected"
  [class.text-slate-800]="isAvailable && !selected"
  [class.border-slate-300]="isAvailable && !selected"
  [class.hover:border-blue-500]="isAvailable && !selected"
  [class.hover:text-blue-600]="isAvailable && !selected"
  [class.bg-slate-200]="!isAvailable"
  [class.text-slate-400]="!isAvailable"
  [class.border-slate-200]="!isAvailable"
  [class.cursor-not-allowed]="!isAvailable"
  [class.opacity-60]="!isAvailable"
  [disabled]="!isAvailable"
  (click)="onSeatClick()"
  [attr.aria-label]="'Seat ' + seatNumber"
>
  {{ seatNumber }}
</button>